body {
  font-family: sans-serif;
}

.trafic-light-container {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 180px;
  background-color: black;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
